# Copy to terraform.tfvars and fill in.
region      = "ap-south-1"
environment = "prod"
name        = "zidd2"

vpc_cidr           = "10.0.0.0/16"
single_nat_gateway = true

ecr_repositories = ["zidd-auth-service", "zidd-chat-service", "zid-frontend"]

sonar_key_name      = "pp-hrms-sonarqube"
sonar_ssh_ip        = "122.161.53.41"
sonar_instance_type = "t3.medium"

# CI/CD (IAM OIDC trust)
github_org  = "your-org"
github_repo = "zidd2-devops-platform"

# EKS
k8s_version         = "1.30"
node_instance_types = ["t3.large"]
node_desired_size   = 3
node_min_size       = 2
node_max_size       = 5

# DNS / TLS / CDN
domain_name        = "zidd2.example.com"   # <- your GoDaddy domain
manage_godaddy_dns = false                 # true + creds to automate
# godaddy_api_key    = ""
# godaddy_api_secret = ""
